.cascading-right {
    margin-right: -50px;
  }

  .customHeight{
      background-color: red;
      height:50vh;
  }
  @media (max-width: 991.98px) {
    .cascading-right {
      margin-right: 0;
    }
  }